@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
}

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  list-style: none;
  border: none;
  text-decoration: none;
  /* animation */
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: -6rem;
}

/* general CSS */
section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--black);
  padding: 1rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--orange);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  background: white;
  padding: 0.8rem 3rem;
}

/* Header stling */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 2rem 9%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 700;
}

header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

header .icons a {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
}

#menu-bar {
  font-size: 2.5rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  /* display: none; */
  padding: 0.5rem 1.5rem;
}

header .navbar a:hover,
header .icons a:hover {
  color: var(--orange);
}

.btn:hover {
  background: var(--orange);
  color: #fff;
  border: 0.2rem solid var(--orange);
}

/* Home section stling */
.home .slide_content .slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  background: url(./images/home-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide_content .slide .content {
  flex: 1 1 40rem;
  animation: slideContet 0.5s linear 1s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

.home .slide_content .slide .image {
  flex: 1 1 40rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

.home .slide_content .slide .image .shoe {
  width: 100%;
  transform: rotate(-35deg);
  animation: shoe 0.5s linear;
}

@keyframes shoe {
  0% {
    transform: rotate(0deg) scale(0.5rem);
  }
}

.home .slide_content .slide .image .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: shoeText;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.home .slide_content .slide .content p {
  font-size: 1.7rem;
  color: var(--black);
  padding: 0.5rem 0;
}

.home .slide_content .slide .content span {
  font-size: 2rem;
  color: var(--orange);
}

/* Services section stling */
.home .slide_content .slide .content h3 {
  font-size: 5rem;
  color: var(--black);
}

@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10;
  }
}

/* Service section stling */
.service .box_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.service .box_container .box {
  text-align: center;
  flex: 1 1 30rem;
}

.service .box_container .box i {
  font-size: 4rem;
  color: var(--orange);
}

.service .box_container .box h3 {
  color: var(--black);
  font-size: 2rem;
  padding-top: 1rem;
}

.service .box_container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

/* product section stling */
.products .box_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.products .box_container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.products .box_container .box .content {
  padding: 1.5rem;
}

.products .box_container .box img {
  height: 10rem;
  transform: rotate(-35deg);
  margin: 8rem 2rem;
}

.products .box_container .box:hover img {
  height: 11rem;
  transform: rotate(-35deg) scale(-35deg);
}

.products .box_container .box .icons {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: -10rem;
}

.products .box_container .box:hover .icons {
  left: 1rem;
}

.products .box_container .box .icons a {
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
}

.products .box_container .box .icons a:hover {
  background: var(--orange);
  color: #fff;
}

.products .box_container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.products .box_container .box .content .price {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0rem;
  color: var(--black);
}

.products .box_container .box .content .price span {
  color: var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box_container .box .content .stars {
  padding-bottom: 1rem;
}

.products .box_container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}

/* Featured product section */
.featured .row {
  gap: 1.5rem;
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}

/* flex grow, shrink, flex=basis */
.featured .row .content {
  flex: 1 1 190rem;
}

.featured .row .image_container .small_image {
  width: 20%;
}

.featured .row .image_container .small_image img {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.featured .row .image_container .small_image img:hover {
  background: rgba(0, 0, 0, 0.2);
}

.featured .row .image_container {
  display: flex;
  gap: 1.5rem;
}

.featured .row .image_container .big_image {
  width: 80%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured .row .image_container .big_image img {
  width: 100%;
}

.featured .row .image_container .big_image img:hover {
  transform: scale(1.05);
}

.featured .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.featured .row .content p {
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.featured .row .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

.featured .row .content .price {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.featured .row .content .price span {
  text-decoration: line-through;
  color: var(--orange);
  font-size: 1.5rem;
}

/* review section */
.review .box_container {
  display: flex;
  gap: 1.5rem;
}

.review .box_container .box {
  display: 1 1 30rem;
  text-align: center;
  border: rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  border-radius: 0.5rem;
  padding: 2rem;
}

.review .box_container .box img {
  display: 1 1 30rem;
  text-align: center;
  border: rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  border-radius: 50%;
  padding: 2rem;
}

.review .box_container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.review .box_container .box p {
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.review .box_container .box .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

/* News letter secrion  */
.newsletter {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.newsletter .content {
  text-align: center;
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.newsletter .content form .box {
  width: 100%;
  font-size: 1.7rem;
  text-transform: none;
  color: #333;
  padding: 1rem;
}

/* footer stling */

footer > .box_container {
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

footer > .box_container .box a {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

/* media querired */
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .home .slide_content .slide .image .text {
    width: 60%;
  }

  .heading {
    font-size: 3rem;
  }

  .home .slide_content .slide .image {
    padding-bottom: 6rem;
  }

  .featured .row {
    flex-wrap: wrap;
  }

  .review .box_container {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  .featured .row {
    flex-wrap: wrap;
  }

  .home .slide_content {
    padding-top: 2rem;
  }

  header .navbar .active {
    left: 0;
  }

  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border-radius: 1.5rem;
    border: rgba(0, 0, 0, 0.1);
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 120%;
    width: 100%;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}
